<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="NoticeDao">
    <insert id="post" parameterType="board">
        <selectKey resultType="int" keyProperty="id" order="AFTER">
            SELECT IFNULL(MAX(ID), 1) FROM NOTICE
        </selectKey>
        INSERT INTO NOTICE(
            TITLE,
            CONTENT,
            WRITER_ID
        ) VALUES (
            #{title},
            #{content},
            (
                SELECT M.ID
                    FROM MEMBER M
                    WHERE M.NICKNAME = #{nickname}
            )
        )
    </insert>

    <update id="modify" parameterType="board">
        UPDATE NOTICE
            SET
                TITLE = #{title},
                CONTENT = #{content},
                MODDATE = #{moddate}
            WHERE ID = #{id}
    </update>

    <select id="getNoticeList" parameterType="map" resultType="board">
        SELECT N.ID
             , N.TITLE
             , N.CONTENT
             , N.WRITER_ID
             , M.NICKNAME
             , N.REGDATE
             , N.MODDATE
             , N.CNT
            FROM NOTICE N
            JOIN MEMBER M
              ON N.WRITER_ID = M.ID
            WHERE 1=1
        <if test="search.searchKeyword != null and search.searchKeyword != ''">
            AND (
                N.TITLE LIKE CONCAT('%', #{search.searchKeyword}, '%')
                OR N.CONTENT LIKE CONCAT('%', #{search.searchKeyword}, '%')
                OR M.NICKNAME LIKE CONCAT('%', #{search.searchKeyword}, '%')
            )
        </if>
        ORDER BY N.ID DESC
        LIMIT #{cri.amount} OFFSET #{cri.startNum}
    </select>

    <delete id="delete" parameterType="int">
        DELETE FROM NOTICE
            WHERE ID = #{id}
    </delete>

    <select id="getNotice" parameterType="int" resultType="board">
        SELECT N.ID
             , N.TITLE
             , N.CONTENT
             , N.WRITER_ID
             , M.NICKNAME
             , N.REGDATE
             , N.MODDATE
             , N.CNT
            FROM NOTICE N
            JOIN MEMBER M
              ON N.WRITER_ID = M.ID
            WHERE N.ID = #{id}
    </select>

    <update id="updateCnt" parameterType="int">
        UPDATE NOTICE
            SET
                CNT = CNT + 1
            WHERE ID = #{id}
    </update>

    <select id="getBoardTotalCnt" parameterType="map" resultType="int">
        SELECT COUNT(*)
            FROM NOTICE N
            JOIN MEMBER M
              ON N.WRITER_ID = M.ID
            WHERE 1=1
            <if test="searchKeyword != null and searchKeyword != ''">
                AND (
                    N.TITLE LIKE CONCAT('%', #{searchKeyword}, '%')
                    OR N.CONTENT LIKE CONCAT('%', #{searchKeyword}, '%')
                    OR M.NICKNAME LIKE CONCAT('%', #{searchKeyword}, '%')
                )
            </if>
    </select>

    <insert id="uploadFiles" parameterType="list">
        INSERT INTO NOTICE_FILE (
            BOARD_ID,
            FILENAME,
            FILEORIGINNAME,
            FILEPATH,
            FILETYPE
        ) VALUES
        <foreach collection="list" item="item" separator=",">
        (
              #{item.board_id},
              #{item.filename},
              #{item.fileoriginname},
              #{item.filepath},
              #{item.filetype}
        )
        </foreach>
    </insert>

    <select id="getNoticeFileList" parameterType="int" resultType="boardFile">
        SELECT ID
             , BOARD_ID
             , FILENAME
             , FILEORIGINNAME
             , FILEPATH
             , FILETYPE
            FROM NOTICE_FILE
            WHERE BOARD_ID = #{id}
    </select>

    <delete id="deleteFiles" parameterType="int">
        DELETE FROM NOTICE_FILE
            WHERE BOARD_ID = #{id}
    </delete>










</mapper>