<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="NoticeDao">
    <insert id="post" parameterType="board">
        INSERT INTO NOTICE(
            TITLE,
            CONTENT,
            WRITER_ID
        ) VALUES (
            #{title},
            #{content},
            #{WRITER_ID}
        )
    </insert>

    <update id="modify" parameterType="board">
        UPDATE NOTICE
            SET
                TITLE = #{title},
                CONTENT = #{content},
                MODDATE = #{moddate}
            WHERE ID = #{id}
    </update>

    <select id="getNoticeList" resultType="board">
        SELECT N.ID
             , N.TITLE
             , N.CONTENT
             , N.WRITER_ID
             , M.NICKNAME
             , N.REGDATE
             , N.MODDATE
             , N.CNT
            FROM NOTICE N
            JOIN MEMBER M
              ON N.WRITER_ID = M.ID
    </select>

    <delete id="delete" parameterType="int">
        DELETE FROM NOTICE
            WHERE ID = #{id}
    </delete>

    <select id="getNotice" parameterType="int" resultType="board">
        SELECT N.ID
             , N.TITLE
             , N.CONTENT
             , N.WRITER_ID
             , M.NICKNAME
             , N.REGDATE
             , N.MODDATE
             , N.CNT
            FROM NOTICE N
            JOIN MEMBER M
              ON N.WRITER_ID = M.ID
            WHERE N.ID = #{id}
    </select>
</mapper>