<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--쿼리문이 Dao 클래스에서 분리되어 온 것이기 때문에 namespace는 관례적으로 Dao 클래스명과 일치시킨다.-->
<mapper namespace="FreeBoardDao">
    <insert id="post" parameterType="board">
        INSERT INTO FREEBOARD(
            TITLE,
            CONTENT,
            WRITER_ID
        ) VALUES(
            #{title},
            #{content},
            (
                SELECT M.ID
                    FROM MEMBER M
                    WHERE M.NICKNAME = #{nickname}
            )
        )
    </insert>

    <update id="modify" parameterType="board">
        UPDATE FREEBOARD
            SET
                TITLE = #{title},
                CONTENT = #{content},
                MODDATE = #{moddate}
            WHERE ID = #{id}
    </update>

    <select id="getBoardList" parameterType="map" resultType="board">
        SELECT F.ID
             , F.TITLE
             , F.CONTENT
             , F.WRITER_ID
             , M.NICKNAME
             , F.REGDATE
             , F.MODDATE
             , F.CNT
            FROM FREEBOARD F
            JOIN MEMBER M
              ON F.WRITER_ID = M.ID
        -- mybatis의 동적 쿼리 사용
            WHERE 1=1
        <if test="search.searchKeyword != null and search.searchKeyword != ''">
            <if test="search.searchCondition == 'all'">
               AND (F.TITLE LIKE CONCAT('%', #{search.searchKeyword}, '%')
               OR F.CONTENT LIKE CONCAT('%', #{search.searchKeyword}, '%')
               OR M.NICKNAME LIKE CONCAT('%', #{search.searchKeyword}, '%'))
            </if>
            <if test="search.searchCondition == 'title'">
                AND F.TITLE LIKE CONCAT('%', #{search.searchKeyword}, '%')
            </if>
            <if test="search.searchCondition == 'content'">
                AND F.CONTENT LIKE CONCAT('%', #{search.searchKeyword}, '%')
            </if>
            <if test="search.searchCondition == 'writer'">
                AND M.NICKNAME LIKE CONCAT('%', #{search.searchKeyword}, '%')
            </if>
        </if>
        LIMIT #{cri.amount} OFFSET #{cri.startNum}
    </select>

    <delete id="delete" parameterType="int">
        DELETE FROM FREEBOARD
            WHERE ID = #{id}
    </delete>

    <select id="getBoard" parameterType="int" resultType="board">
        SELECT F.ID
             , F.TITLE
             , F.CONTENT
             , F.WRITER_ID
             , M.NICKNAME
             , F.REGDATE
             , F.MODDATE
             , F.CNT
            FROM FREEBOARD F
            JOIN MEMBER M
              ON F.WRITER_ID = M.ID
            WHERE F.ID = #{id}
    </select>

    <update id="updateCnt" parameterType="int">
        UPDATE FREEBOARD
            SET
                CNT = CNT + 1
            WHERE ID = #{id}
    </update>

    <select id="getBoardTotalCnt" parameterType="map" resultType="int">
        SELECT COUNT(*)
            FROM FREEBOARD F
            JOIN MEMBER M
              ON F.WRITER_ID = M.ID
            WHERE 1=1
            <if test="searchKeyword != null and searchKeyword != ''">
                <if test="searchCondition == 'all'">
                    AND (
                        F.TITLE LIKE CONCAT('%', #{searchKeyword}, '%')
                        OR F.CONTENT LIKE CONCAT('%', #{searchKeyword}, '%')
                        OR M.NICKNAME LIKE CONCAT('%', #{searchKeyword}, '%')
                    )
                </if>
                <if test="searchCondition == 'title'">
                    AND F.TITLE LIKE CONCAT('%', #{searchKeyword}, '%')
                </if>
                <if test="searchCondition == 'content'">
                    AND F.CONTENT LIKE CONCAT('%', #{searchKeyword}, '%')
                </if>
                <if test="searchCondition == 'writer'">
                    AND M.NICKNAME LIKE CONCAT('%', #{searchKeyword}, '%')
                </if>
            </if>
    </select>















</mapper>